<link rel="stylesheet" href="/static/plugins/bootstrap-table/bootstrap-table.min.css">
<link href="/static/plugins/bootstrap-table/extensions/sticky-header/bootstrap-table-sticky-header.min.css" rel="stylesheet" />
<link href="/static/plugins/bootstrap-table/extensions/fixed-column/bootstrap-table-fixed-columns.css" rel="stylesheet" />
<!-- x-editable插件 -->
<link href="/static/plugins/x-editable/css/bootstrap-editable.css" rel="stylesheet"/>

<style>
    /*.table {*/
        /*table-layout: fixed;*/
    /*}*/
</style>