<!-- 用于列表页 -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>{{.siteApp}} - {{.pageTitle}}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"> 
    {{template "shared/globalcss.html"}} 
    {{.headcssjs}}
</head>

<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <!-- Main Header -->
        <header class="layui-header">

            <!-- Logo -->
            <a href="/">
                <div class="layui-logo">{{.siteApp}} - <small>{{.siteName}}</small></div>
            </a>

            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item">
                    <a href="/">返回前台</a>
                </li>
                <li class="layui-nav-item">
                    <a href="">商品管理</a>
                </li>
                <li class="layui-nav-item">
                    <a href="">用户</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其它系统</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="">邮件管理</a>
                        </dd>
                        <dd>
                            <a href="">消息管理</a>
                        </dd>
                        <dd>
                            <a href="">授权管理</a>
                        </dd>
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="https://gitee.com/uploads/66/890966_Leytton.png?1512991922" class="layui-nav-img"> Leytton </a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" onclick="addTab(this);" tab_url="http://www.llqqww.com">基本资料</a>
                        </dd>
                        <dd>
                            <a href="">安全设置</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="/mp.php/login/logout">退了</a>
                </li>
            </ul>
        </header>

        <!-- Left side column. contains the logo and sidebar -->
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                {{ template "shared/sidebar2.html" }}
            </div>
        </div>

        <!-- Content Wrapper. Contains page content -->
        <div class="layui-body">
            <div class="layui-tab" lay-filter="demoTab" lay-allowClose="true">
                <ul class="layui-tab-title">
                    <li class="layui-this noclose" lay-id='base_info'>客户管理</li>
                </ul>

                <div class="layui-tab-content" style="padding:0px;">
                    <div class="layui-tab-item layui-show">
                        {{.LayoutContent}}
                    </div>
                </div>
            </div>
        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        <div class="layui-footer">
            <!-- Default to the left -->
            <strong>Version: {{.siteVersion}}</strong>
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                <span> Copyright &copy; 2018 广东物联网股份有限公司</span>
            </div>
        </div>

        <!-- control-sidebar  -->
        {{ template "shared/control-sidebar.html" }}
    </div>

    <!-- ./wrapper -->
    {{template "shared/globaljs.html"}}

    <script src="/static/plugins/layui-v2.2.5/layui.all.js"></script>

    <script>
        var $ = layui.jquery;
        var layer = layui.layer;
        var element = layui.element;
        var util = layui.util;
        var table = layui.table;
    </script>
    <script src="/static/plugins/layTabPlus/layTabPlus.js"></script>
    <script>
        layTabPlus.init({
            lay_filter: 'demoTab'
        });
    </script>

    <script>
        $(function () {
            var url = '{{urlfor "ResourceController.UserMenuTree"}}'; //菜单数据地址
            var $select = $("#pageSidebar");                          //菜单容器
            var cur = '{{.activeSidebarUrl}}';                        //当前激活的菜单地址
        });
    </script>

    {{.footerjs}}
</body>

</html>