<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="layui-nav layui-nav-tree" id="pageSidebar">
        <li class="layui-nav-item layui-nav-itemed">
            <a class="" href="javascript:;">仪表盘<span class="layui-nav-more"></span></a>
            <dl class="layui-nav-child">
                <dd class="">
                    <a href="javascript:;" tab_url="/home/index2">
                        <i class="fa fa-wpforms"></i>
                        <span>仪表1</span>
                    </a>
                </dd>
                <dd>
                    <a href="javascript:;" class="layTabPlus" tab_url="/home/index2">
                        <i class="fa fa-tv"></i>
                        <span>仪表2</span>
                    </a>
                </dd>
            </dl>
        </li>

        <li class="layui-nav-item layui-nav-itemed">
            <a class="" href="javascript:;">
                <i class="fa fa-address-book"></i>
                <span>客户管理</span>
                <span class="layui-nav-more"></span>
            </a>
            <dl class="layui-nav-child">
                <dd>
                    <a href="javascript:;" class="layTabPlus" tab_url="/equipmentcustomer/index">
                        <i class="fa fa-male"></i>
                        <span>客户信息</span>
                    </a>
                </dd>
                <dd>
                    <a href="javascript:;" class="layTabPlus" tab_url="/equipmentroom/index">
                        <i class="fa fa-home"></i>
                        <span>电房信息</span>
                    </a>
                </dd>
            </dl>
        </li>

        <li class="layui-nav-item layui-nav-itemed">
            <a class="" href="javascript:;">
                <i class="fa fa-credit-card"></i>
                <span>设备管理</span>
                <span class="layui-nav-more"></span>
            </a>

            <dl class="layui-nav-child">
                <dd>
                    <a href="javascript:;" class="layTabPlus" tab_url="/equipmentvendor/index">
                        <i class="fa fa-inbox"></i>
                        <span>设备供应商</span>
                    </a>
                </dd>
                <dd>
                    <a href="javascript:;" class="layTabPlus" tab_url="/equipmentgateway/index">
                        <i class="fa fa-feed"></i>
                        <span>通讯方式</span>
                    </a>
                </dd>
                <dd>
                    <a href="javascript:;" class="layTabPlus" tab_url="/equipmentmetertype/index">
                        <i class="fa fa-code-fork"></i>
                        <span>电表类型</span>
                    </a>
                </dd>
                <dd>
                    <a href="javascript:;" class="layTabPlus" tab_url="/equipmentsimcards/index">
                        <i class="fa fa-book"></i>
                        <span>Sim卡管理</span>
                    </a>
                </dd>
                <dd>
                    <a href="javascript:;" class="layTabPlus" tab_url="/equipmentdtuconfig/index">
                        <i class="fa fa-window-restore"></i>
                        <span>网络设备管理</span>
                    </a>
                </dd>
                <dd>
                    <a href="javascript:;" class="layTabPlus" tab_url="/equipmentmeterconfig/index">
                        <i class="fa fa-credit-card"></i>
                        <span>电表管理</span>
                    </a>
                </dd>
                <dd>
                    <a href="javascript:;" class="layTabPlus" tab_url="/equipmentmeteraddrconfig/index">
                        <i class="fa fa-th-large"></i>
                        <span>寄存器分段配置</span>
                    </a>
                </dd>
                <dd>
                    <a href="javascript:;" class="layTabPlus" tab_url="/equipmentmeterromconfig/index">
                        <i class="fa fa-cubes"></i>
                        <span>寄存器地址配置</span>
                    </a>
                </dd>
                <dd>
                    <a href="javascript:;" class="layTabPlus" tab_url="/equipmenttableconfig/index">
                        <i class="fa fa-credit-card"></i>
                        <span>字段映射表名配置</span>
                    </a>
                </dd>
                <dd>
                    <a href="javascript:;" class="layTabPlus" tab_url="/equipmentmeterconfigfield/index">
                        <i class="fa fa-list-ol"></i>
                        <span>字段映射顺序配置</span>
                    </a>
                </dd>

            </dl>

        </li>


    </ul>
    <!-- /.sidebar-menu -->
</section>
<!-- /.sidebar -->