 <link rel="stylesheet" href="/static/plugins/bootstrap-table/bootstrap-table.min.css">
 <!-- x-editable插件 -->
<link href="/static/plugins/x-editable/css/bootstrap-editable.css" rel="stylesheet" />
<link href="/static/plugins/bootstrap-table/extensions/sticky-header/bootstrap-table-sticky-header.min.css" rel="stylesheet" />
<link href="/static/plugins/metrics-graphics/metricsgraphics.css" rel="stylesheet" />

<style>
    .W160 .th-inner {
        width: 160px !important;
    }

    .tabl-content > .tab-pane, .pill-content > .pill-pane{
        display: block;
        height: 0;
        overflow-y: hidden;
    }

    .tabl-content > .active, .pill-content > .active{
        height: auto;
    }
</style>