<!-- 验证插件 -->
<script src="/static/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="/static/plugins/jquery-validation/localization/messages_zh.min.js"></script>
<!-- 针对当前主题进行简单封装，精简代码 -->
<script src="/static/sdtheme/scripts/sdvalidate.js"></script>

<script>
    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
    $(function () {
        pageInit();
    });

    function pageInit() {
        $("#Used").selectpicker('val', '{{.m.Used}}');
        $("#FunctionTable1").selectpicker('val', '{{.m.FunctionTable1}}');
        $("#FunctionTable2").selectpicker('val', '{{.m.FunctionTable2}}');
        $("#FunctionTable3").selectpicker('val', '{{.m.FunctionTable3}}');
        $("#DataType").selectpicker('val', '{{.m.DataType}}');
        rms.selectMeterType('{{ urlfor "EquipmentMeterTypeController.DataGridSelect"}}', '{{.m.MeterTypeNO}}');

        initCheckbox();

        //验证
        validateInfo();
    }

    function initCheckbox() {
        var isNeedpt = {{eq 1 .m.Needpt }};
        $("#Needpt").bootstrapSwitch('state', isNeedpt ? true : false);

        var isNeedct = {{eq 1 .m.Needct }};
        $("#Needct").bootstrapSwitch('state', isNeedct ? true : false);

        var isMsbbit = {{eq 1 .m.Msbbit }};
        $("#Msbbit").bootstrapSwitch('state', isMsbbit ? true : false);

        var isBigEndian = {{eq 1 .m.BigEndian }};
        $("#BigEndian").bootstrapSwitch('state', isBigEndian ? true : false);

        {{/*{{if eq 1 .m.Needpt }}*/}}
            {{/*$("#Needpt").bootstrapSwitch('state', true);*/}}
        {{/*{{else}}*/}}
            {{/*$("#Needpt").bootstrapSwitch('state', false);*/}}
        {{/*{{end}}*/}}
        {{/**/}}
        {{/*{{if eq 1 .m.Needct }}*/}}
            {{/*$("#Needct").bootstrapSwitch('state', true);*/}}
        {{/*{{else}}*/}}
            {{/*$("#Needct").bootstrapSwitch('state', false);*/}}
        {{/*{{end}}*/}}

        {{/*{{if eq 1 .m.Msbbit }}*/}}
            {{/*$("#Msbbit").bootstrapSwitch('state', true);*/}}
        {{/*{{else}}*/}}
            {{/*$("#Msbbit").bootstrapSwitch('state', false);*/}}
        {{/*{{end}}*/}}

        {{/*{{if eq 1 .m.BigEndian }}*/}}
            {{/*$("#BigEndian").bootstrapSwitch('state', true);*/}}
        {{/*{{else}}*/}}
            {{/*$("#BigEndian").bootstrapSwitch('state', false);*/}}
        {{/*{{end}}*/}}
    }

    //表单验证及AJAX提交
    function validateInfo() {
        var $thisForm = $('#thisForm');
        $thisForm.sdvalidate({
            rules: {
                AddressSort:{
                    required: true,
                    min: 1
                },
                MeterTypeNO: {
                    required: true
                },
                RomAddress:{
                    required: true
                },
                RomName:{
                    required: true
                },
                SegmentNO:{
                    required: true,
                    min: 1
                },
                Calcfactor:{
                    required: true
                }
            },
            messages: {},
            submitHandler: function (form) {
                var url = '{{ urlfor "EquipmentMeterRomConfigController.Edit"}}';
                var params = $thisForm.serialize();
                $.sdpost(url, params, function (re) {
                    if (re.code === 0) {
                        parent.layer.msg(re.msg);
                        parent.refresh(re.obj);
                        parent.layer.close(index);
                    } else {
                        parent.layer.alert(re.msg, {icon: 2, title: '失败'})
                    }
                });
                return false;
            }
        });
    }

    function FormSubmit() {
        $("#thisForm").submit();
    }
</script>