<div class="row">
    <!-- form start -->
    <form class="form-horizontal" id="thisForm">
        <input type="hidden" Name="Id" id="Id" value="{{.m.Id}}">
        <div class="form-group">
            <label class="col-sm-2 control-label">字段</label>
            <div class="col-sm-8">
                <input type="text" name="FieldName" class="form-control" placeholder="" onfocus=this.select() value="{{.m.FieldName}}">
            </div>
            <div class="col-sm-1">
                <span class="text-red">*</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">字段名称</label>
            <div class="col-sm-8">
                <input type="text" name="FieldDesc" class="form-control" placeholder="" onfocus=this.select() value="{{.m.FieldDesc}}">
            </div>
            <div class="col-sm-1">
                <span class="text-red">*</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">表1</label>
            <div class="col-sm-8">
                <select name="FunctionTable1" id="FunctionTable1" class="form-control bs-select">
                    <option value="collect_base_info">collect_base_info</option>
                    <option value="collect_attach_info">collect_attach_info</option>
                    <option value="collect_other_info">collect_other_info</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">表2</label>
            <div class="col-sm-8">
                <select name="FunctionTable2" id="FunctionTable2" class="form-control bs-select">
                    <option value="collect_base_info">collect_base_info</option>
                    <option value="collect_attach_info">collect_attach_info</option>
                    <option value="collect_other_info">collect_other_info</option>
                </select>
            </div>
        </div>
         <div class="form-group">
            <label class="col-sm-2 control-label">表3</label>
            <div class="col-sm-8">
                <select name="FunctionTable3" id="FunctionTable3" class="form-control bs-select">
                    <option value="collect_base_info">collect_base_info</option>
                    <option value="collect_attach_info">collect_attach_info</option>
                    <option value="collect_other_info">collect_other_info</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">状态</label>
            <div class="col-sm-8">
                <select name="Used" id="Used" class="form-control bs-select">
                    <option value="1">禁用</option>
                    <option value="0">启用</option>
                </select>
            </div>
        </div>
    </form>
</div>