<div class="row">
    <!-- form start -->
    <form class="form-horizontal" id="thisForm">
        <input type="hidden" Name="Id" id="Id" value="{{.m.Id}}">
        <div class="form-group">
            <label class="col-sm-2 control-label">代码</label>
            <div class="col-sm-8">
                <input type="text" name="Code" class="form-control" placeholder="" onfocus="this.select();" value="{{.m.Code}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">描述</label>
            <div class="col-sm-8">
                <input type="text" name="Desc" class="form-control" placeholder="" onfocus="this.select();" value="{{.m.Desc}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">变量</label>
            <div class="col-sm-8">
                <input type="text" name="Value" class="form-control" placeholder="" onfocus="this.select();" value="{{.m.Value}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">上限</label>
            <div class="col-sm-8">
                <input type="text" name="UpLimit" class="form-control" placeholder="" onfocus="this.select();" value="{{.m.UpLimit}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">步长</label>
            <div class="col-sm-8">
                <input type="text" name="Step" class="form-control" placeholder="" onfocus="this.select();" value="{{.m.Step}}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">状态</label>
            <div class="col-sm-8">
                <select name="Used" id="Used" class="form-control bs-select">
                    <option value="1">禁用</option>
                    <option value="0">启用</option>
                </select>
            </div>
        </div>
    </form>
</div>