<div class="row">
    <!-- form start -->
    <form class="form-horizontal" id="thisForm">
        <input type="hidden" Name="Id" id="Id" value="{{.m.Id}}">
        <div class="form-group">
            <label class="col-sm-2 control-label">电表类型编号</label>
            <div class="col-sm-8">
                <input type="text" name="MeterTypeNO" id="MeterTypeNO" class="form-control" placeholder="自动生成编号" onfocus="this.select()" value="{{.m.MeterTypeNO}}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">电表类型名称</label>
            <div class="col-sm-8">
                <input type="text" name="MeterType" class="form-control" placeholder="" onfocus="this.select()" value="{{.m.MeterType}}"/>
            </div>
            <div class="col-sm-1">
                <span class="text-red">*</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">供应商编号</label>
            <div class="col-sm-8">
                <select name="VendorNO" id="VendorNO" class="form-control selectpicker with-ajax" data-live-search="true">
                </select>
            </div>
            <div class="col-sm-1">
                <span class="text-red">*</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">电压变比地址</label>
            <div class="col-sm-8">
                <input type="text" name="PtAddress" class="form-control" placeholder="电压变比地址" onfocus="this.select()" value="{{.m.PtAddress}}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">电流变比地址</label>
            <div class="col-sm-8">
                <input type="text" name="CtAddress" class="form-control" placeholder="电流变比地址" onfocus="this.select()" value="{{.m.CtAddress}}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">是否三相电表</label>
            <div class="switch col-sm-8" data-on-label="0" data-off-label="1">
                <input type="checkbox" name="ThreePhase" id="ThreePhase" checked/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">状态</label>
            <div class="col-sm-8">
                <select name="Used" id="Used" class="form-control bs-select">
                    <option value="1">禁用</option>
                    <option value="0">启用</option>
                </select>
            </div>
        </div>
    </form>
</div>