<div class="row">
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body">
                <div class="row">
                    <form onsubmit="return false;">
                        <div class="input-group input-groupp-md">
                            <div class="input-group-addon">搜索</div>
                            <input class="form-control" id="js-icon-search" type="text" placeholder="名称" />
                        </div>
                    </form>
                </div>
                <div class="row">
                    <ul class="list-inline" id="chooseicon">

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>