<style>
    #chooseicon {
        margin: 5px 0 0 0;
        padding-left: 0;
        list-style: none;
        box-sizing: border-box;
    }

    #chooseicon li {
        width: 30px;
        height: 30px;
        line-height: 30px;
        border: 1px solid #ddd;
        padding: 1px;
        margin: 1px;
        text-align: center;
        display: inline-block;
        box-sizing: border-box;
        color: #333;

    }

    #chooseicon li:hover {
        border: 1px solid #2c3e50;
        cursor: pointer;
    }
</style>